{# templates/category/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des Catégories{% endblock %}

{% block body %}
    <h1>Liste des Catégories</h1>

    <a href="{{ path('app_category_new') }}" class="btn btn-primary">Créer une nouvelle catégorie</a>

    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('app_category_edit', { 'id': category.id }) }}">{{ category.name }}</a>
                <form action="{{ path('app_category_delete', { 'id': category.id }) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
