  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>unc</span></strong>. Tout droit reservé
    </div>
    <div class="credits">
      Construit par <a href="https://successcompanydrc.com/" title="Visiter l'entreprise qui a construit cette application">SCG sarl</a>
    </div>
  </footer><!-- End Footer -->