 <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">UNC</span>
          </a>
          <div class="footer-contact pt-3">
              <p>Avenue de l'enseignement</p>
              <p>Kasavubu, Kinshasa, RDC</p>
              <p class="mt-3"><strong>Tél:</strong> <a href="tel:+243813197098" style="text-decoration: none;">+243 81 31 97 098</a></p>
              <p><strong>Email:</strong> <a href="mailto:info@unc.com" style="text-decoration: none;">info@unc.com</a></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Lien rapide</h4>
          <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">A propos de nous</a></li>
            <li><a href="#">Catégories</a></li>
            <li><a href="#">Actualité</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">UNC - APP</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Interfédération</h4>
          <ul>
            <li><a href="#">Kikwit</a></li>
            <li><a href="#">Kwilu</a></li>
            <li><a href="#">Kisangani</a></li>
            <li><a href="#">Goma</a></li>
            <li><a href="#">Kasai oriental</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Interfédération</h4>
          <ul>
            <li><a href="#">Lualaba</a></li>
            <li><a href="#">Haut Katanga</a></li>
            <li><a href="#">Haut Lomami</a></li>
            <li><a href="#">Tanganyika</a></li>
            <li><a href="#">Ituri</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Interfédération</h4>
          <ul>
            <li><a href="#">Kasai</a></li>
            <li><a href="#">Congo central</a></li>
            <li><a href="#">Sankuru</a></li>
            <li><a href="#">Nord Kivu</a></li>
            <li><a href="#">Sud Kivu</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">UNC</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://startups.successcompanydrc.com/">SGC</a>
      </div>
    </div>

  </footer>

