 <footer id="footer" class="footer dark-background">

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">UNC</strong> <span>Tout droit reservé</span></p>
      <div class="credits">
        Construit et mis en ligne par: <a href="https://successcompanydrc.com/">SGC sarl</a>
      </div>
    </div>

  </footer>

