{% extends 'base.html.twig' %}

{% block title %}change password{% endblock %}

{% block body %}
    <h1>Changer le mot de passe</h1>

    {{ include('/topic/_form.html.twig', {'button_label': 'modifier'}) }}

{% endblock %}