{% extends 'base.html.twig' %}

{% block title %}New file{% endblock %}

{% block body %}
    <h1>Nouveau fichier</h1>

    {{ include('document/_form.html.twig') }}

    <a href="{{ path('app_document_index') }}">retour</a>
{% endblock %}
