{% extends 'base.html.twig' %}

{% block title %}nouveau membre{% endblock %}

{% block body %}
    <h1>Confirmation de la demande d'adhésion</h1>

    {{ include('membership/_form.html.twig') }}

    <a href="{{ path('app_membership_index') }}">Retour</a>
{% endblock %}

  {% block javascripts %}
    <script>
        var fonctions = {{ fonctionsJson|raw }};
    </script>
    <script src="{{asset('js/membership.js')}}"></script>
  {% endblock %}